.navbar{background-color:#0779DF;}

.quem-somos{background-color: #98C3ED;}

.margin{ padding-top: 50px;padding-bottom: 50px;}

.parceiros{background-color: #72b2f3; padding-bottom:50px;}

.bg-footer{background-color: black; color:whitesmoke}

body{font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}